<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263957136102-2s40ueh7nggke0d7mo4964drm9jl3aps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263957136102-2s40ueh7nggke0d7mo4964drm9jl3aps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>263957136102-ar1132cemaqepgvec974pa7dfb5t6rvi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAP63dymRrUN8v6qYOdnBwfLo5cM850pfs</string>
	<key>GCM_SENDER_ID</key>
	<string>263957136102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appfyl.quis</string>
	<key>PROJECT_ID</key>
	<string>quis-c7624</string>
	<key>STORAGE_BUCKET</key>
	<string>quis-c7624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263957136102:ios:7c0d591779e81667dc7127</string>
</dict>
</plist>